<div class="container">	
	<table class="table table-hover table-bordered">
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Notes</th>
			<th>Edit</th>
		</tr>

		<tr *ngFor="let student of students">
			<td>{{ student.name }}</td>
			<td>{{ student.age }}</td>
			<td>{{ student.gender }}</td>
			<td>{{ student.note }}</td>
			<td><button class="btn btn-primary" (click)="showEditForm(student)">Edit</button></td>
		</tr>		
	</table>
	<button class="btn btn-success" (click)="showEditForm(null)">Add Student</button>		
	
	<!-- Add or Update Student Form -->
	<form  [hidden]="!editMode" (ngSubmit)="onSubmit(selected)" #studentForm="ngForm">
		<h1>Add/Update Student Info</h1>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" 
			required placeholder="Please enter name"
			[(ngModel)]="selected.name" name="name" #name="ngModel">
		</div>
		
		<div class="form-group">
			<label for="age">Age</label>
			<input type="text" class="form-control" id="age" 
			required placeholder="Please enter age"
			[(ngModel)]="selected.age" name="age" #age="ngModel">
		</div>
		
		<div class="form-group">
			<label for="gender">Gender</label>
			<input type="text" class="form-control" id="gender" 
			required placeholder="Please enter gender"
			[(ngModel)]="selected.gender" name="gender" #gender="ngModel">
		</div>
		
		<div class="form-group">
			<label for="note">Note</label>
			<textarea rows="4" cols="50" id="note" class="form-control"
				[(ngModel)]="selected.note" name="note" #note="ngModel"
			></textarea>
		</div>
		
		<button type="submit" class="btn btn-success"
		[disabled]="!studentForm.form.valid">Submit</button>
	</form>
	
</div>